body {
    font-family: "PT Serif", serif;
    font-size: 12pt;
    line-height: 150%;
    margin: 5% 22% 5% 22%; /* top right bottom left */
}

h1, h2, h3, h4, h5 {
    font-family: "PT Sans", sans-serif;
}

h1, p.contact {
    font-family: "PT Sans";
    font-weight: bold;
    color: silver;
    text-align: right
}

.footer {
    font-family: "PT Sans", sans-serif;
    font-size: 90%;
    color: #ababab;
}

code, pre {
    font-family: "Droid Sans Mono", monospace;
    font-size: 10pt;
}

a:link {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: tan;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}
