body {
    font-family: "PT Serif", serif;
    font-size: 12.0pt;
    line-height: 175%;
    margin: 5% 15% 5% 15%; /* top right bottom left */
}

h1, h2, h3, h4, h5 {
    font-family: "PT Sans", sans-serif;
}

h1, .contact {
    font-family: "PT Sans";
    font-weight: bold;
    color: silver;
    text-align: right
}

.title, .author {
    display: none;
}

.footer {
    font-family: "PT Sans", sans-serif;
    font-size: 90%;
    color: #ababab;
}

hr.footer {
    margin-top: 5%;
}

code, pre {
    font-family: "Droid Sans Mono", monospace;
    font-size: 10pt;
}

a:link {
    color: cornflowerblue;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: tan;
}

a:hover {
    color: darkred;
    text-decoration: underline;
}

.nav {
    width: 100%;
    float: left;
    margin: 1% 0 5% 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    padding: 8px 15px;
    /* border-right: 1px solid #ccc; */
}
